 <style>
            .background {
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    </style>
    <div class="container-fluid background">
		<div class="row">
		</div>
        <!--<button class="btn btn-primary col-lg-1" style="height:40px">sdf</button>

       <div class=" page-header"><h3 data-bind="html:displayName"></h3></div>
         <p data-bind="text:description"></p>
        <h3>Características da plataforma de desenvolvimento:</h3>
        <ul data-bind="foreach: features">
            <li data-bind="text:$data"></li>
        </ul>-->

    </div>

    
